@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Great+Vibes&family=Open+Sans&family=Roboto+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Great+Vibes&family=Open+Sans&family=Roboto+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Great+Vibes&family=Open+Sans&family=Roboto+Slab:wght@600&display=swap');
:root{
    --main-color:#191F3A;
    --sub-color:#ed710c; 
    --text-color:#fff;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing:border-box;
}
.btn{
    background-color: transparent;
    padding: 15px 30px;
    border: 2px solid var(--sub-color);
    border-radius: 50px;
    color:var(--text-color);
    cursor: pointer;
    transition: all 0.3 ease;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
}
.btn:hover{
    background-color:var(--main-color);
}
button.btn:hover{
    background-color:var(--sub-color);
}
ul{
    list-style: none;

}
a{
    text-decoration: none;
    color: var(--text-color);
    margin:auto;
    display: block;
}
main{
    height: 92vh;
}
.logo{
    font-size:24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.logo > img {
  max-width: 100%;
  max-height: 100%;

}
nav#header{
    display: flex;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;
    background: var(--main-color);
    height: auto;
   
}
.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li{
    padding: 0;
    margin: 0;
}
.nav-list li a{
    letter-spacing: 3px;
    margin-left: 32px;
    text-align: center;
    padding: 11.5px 10px;
    margin: auto;
    
}
.nav-list li:hover a{
    background: var(--sub-color);
    transition: all 0.3s;
    width: auto;
}

#toggle{
    display: none;
    background: var(--sub-color);
    color: var(--text-color);
    text-align: right;
    padding: 10px 10px;
    font-size: 20px;
    cursor: pointer;
}
@media screen and (max-width: 768px){
    nav#header{
        flex-direction: column;
    }
    #toggle{
        display: block;
    }
    .nav-list{
        display: none;
    }
}
.logo{
    display:flex;
}
.iconlogo{
    width: 40px;
}
section.big-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    box-sizing:border-box;
}
.big-image::before{
    content:"";
    display:block;
    position:absolute;
    width: 100%;
    height: 100%;
    background-image: url(Picture/Dongtien.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -2;
    animation: Inout 5s infinite;
}
@keyframes Inout{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}
.big-image::after{
    content:"";
    display:block;
    position:absolute;
    width: 100%;
    height: 100%;
    background-color:black;
    opacity: 0.3;
    z-index: -2;

}
.big-image .big-image-content{
    text-align: center;
    max-width: 500px;
}
.big-image .big-image-content h2{
    font-size: 45px;
    color: var(--text-color);
    font-family: 'Roboto Slab', serif;
    
}
.big-image .big-image-content p{
    font-size: 30px;
    color: var(--text-color);
    font-weight:bold;
    margin: 15px 0;
    font-family: 'Open Sans', sans-serif;
}
.container{
    margin: auto;
    max-width: 1200px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.section-pading{
    padding: 80px 0;
}




.about{
    background-color: var(--main-color);
}
.about .about-item h2{
    color: var(--text-color);
    font-size: 35px;
}
.about .about-item p{
    font-size: 18px;
    margin: 15px 0 30px;
    color: var(--text-color);
    text-indent: 0.5cm;
    font-family: 'Open Sans', sans-serif;
}
.about .about-item img{
    width: 75%;
    border-radius: 10px;
    
}
div.about-item p.qt{
    font-family: 'Great Vibes', cursive;
    letter-spacing: 1px;
    font-size: 23px;
}
about-item-img img{
    max-width: 500px;
    height: auto;
}
.section-title{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.section-title h2{
    font-size: 40px;
    padding-top: 60px;
    padding-bottom: 10px;
    color: var(--text-color);
    text-transform: uppercase;

}
.section-title h2::before{
    content: attr(data-title);
    display: block;
    color: var(--sub-color);
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}
.about-item{
    width: calc(100%/2);
    padding: 15px;
}
.about-item-img {
    position: relative;
}
.about-item-img span{
    position:absolute;
    top: 80%;
    left: 20%;
    color: var(--sub-color);
    font-family: 'Dancing Script';
    font-weight: 300px;
    font-size: 30px;
}
.about-item-img::before{
    content: "";
    display:block;
    width: 65px;
    height: 65px;
    border: 3px solid var(--main-color);
    position: absolute;
    top: calc(85% - 50px);
    left: calc(13% - 50px);
    /* top: 75%;
    left: 20%; */
    transform: translate(-50%,-50%);
    animation: xoayVong 5s infinite;
}
@keyframes xoayVong {
    0% {
        transform: rotate(0deg);

    }
    100%{
        transform: rotate(360deg);
    }
}
.slider-item{
    width: 100vw;
    height: 100vh;
}
.slider-item-one{
    background-image: url(/Picture/Bangtigia.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider-item-two{
    background-image: url(/Picture/dolar2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider-item-three{
    background-image: url(/Picture/Reditcard2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider-item-four{
    background-image: url(/Picture/Tiengiay.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}